.children-banner{
    width: 100%;
    height: 80vh;
    background-image: url('../IMAGES/ENFANTS/Bannerkid.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.zero-six-products {
    display: block;
    width: 100%;
}

.six-thirteen-products {
    display: none;
    width: 100%;
}

.zero-six{
    color:black;
}

@media (max-width:800px) {
    .children-banner{
        background-position: left;
    }
}